{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jest-dom/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y",
    "jest-dom"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/no-unknown-property": [2, {"ignore": ["jsx", "global"]}]
  },
  "overrides": [
    {
      "files": ["**/?(*.)+(test).[jt]s?(x)"],
      "env": {
        "jest": true
      }
    }
  ]
}
