# Force the use of the standalone yarn bundle in the repo so everyone is using the same version
yarn-path "./.yarn/yarn-1.22.17.js"
# Don't let yarn nag about new versions, we'll manage that ourselves
disable-self-update-check true
# Don't let running `yarn install` mutate the lockfile
--install.pure-lockfile true
# Always install exact package versions
--add.exact true