/* ---------------
        GLOBAL STYLES
    -------------- */
:root {
  --page-width: 960px;
  --gutter: 30px;
  --color-background: #1f1e1f;
  --color-white: #fff;
  --color-pink: #FB37F1;
  --color-purple: #9013FE;
  --color-blue: #54FCFD;
  --color-yellow: #FDF958;
  --color-green: #48E6B6;
  --color-black: #131313;
}
html,
body {
  height: 100%;
}
img {
  background: none;
}
body {
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: elido, sans-serif;
  background-image: url('./hexagons-left.png'), url('./hexagons-right.png');
  background-repeat: repeat-y;
  background-position: top left, top right;
}
a {
  list-style: none;
  text-decoration: none;
  color: var(--color-white);
}
a:focus {
  outline: none;
  border: 2px solid var(--color-pink);
  border-radius: 15px;
  box-shadow: 0px 0px 4px var(--color-pink);
  padding: 0px 10px;
}
button {
  cursor: pointer;
}

button:focus {
  outline: none;
  border: 2px solid var(--color-pink);
  box-shadow: 0px 0px 4px var(--color-pink);   
}

footer li {
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Highlight code
    ::-moz-selection { background: yellow; }
    ::selection { background: yellow; } 
    */

/* ---------------
        TYPOGRAPHY
    -------------- */
h2 {
  font-size: 2rem;
  margin: 0;
  color: var(--color-white);
}
h3 {
  font-size: 1.5rem;
  margin: 0;
}
h4 {
  font-size: 1.15rem;
  margin: 5;
}
h5 {
  font-size: 1rem;
  margin: 5;
}
p {
  background-color: var(--color-background);
  line-height: 1.6rem;
  font-size: 1.125rem;
  padding: 0.25rem;
}
.smallparagraph {
  font-size: 1rem;
  line-height: 1.3rem;
}

.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.text-name {
  background-color: #FFF;
  border-top: 3px solid #fb37f1;
  line-height: 1.25;
  padding: 0.25rem;
  display: inline-block;
  text-align: left;
  color: var(--color-background);
  width: 100%
}
.text-skills {
    font-size: 0.8rem;
}
.link {
    font-weight: 700;
    font-size: 1.25rem;
    border-bottom: 3px solid var(--color-white);
    background-color: var(--color-background);
    padding: 2px;
}
.link-small {
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 2px solid var(--color-white);
    background-color: var(--color-background);
}
.link:focus {
    outline: none;
    padding: 0px 10px;
}
/* -----------
        UTILITIES
    ------------- */
.text {
  background-color: var(--color-background);
  padding: 2px;
  color: var(--color-white);
  line-height: 1.25;
  display: inline-block;
}
/* -----------------
        TACHYON OVERIDES
    ----------------- */
.list {
  padding: 0;
  margin: 0;
}

/* ---------------
        LAYOUT
    -------------- */
.layout {
  display: grid;
  grid-template-areas:
    '. header .'
    '. main .'
    '. footer .';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto minmax(auto, var(--page-width)) auto;
  height: 100%;
  padding: 0 calc(var(--gutter) / 2);
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  color: var(--color-white);
}
.footer-background {
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: var(--color-black);
  margin: 0 calc(var(--gutter) / 2 * -1);
}

/* ---------------
        COLOUR
    -------------- */
.arrowpink {
  color: var(--color-pink);
}
.arrowlightblue {
  color: var(--color-blue);
}
.arrowblack {
 color: var(--color-background);
}

/* ---------------
        LOGOS
    -------------- */
.logo {
  height: 80px;
  display: inline-block;
  padding: 10px 0px;
}
.twitterlogo {
  height: 12px;
}
.funderslogo {
  height: 130px;
  margin: 20px 10px;
}

/* ---------------
        CAROUSEL
    ------------------ */
.slides {
  transition: transform 1s;
}
.slide-image {
  flex-shrink: 0;
  max-width: 250px;
}

.prev,
.next {
  margin: auto;
  width: 26px;

  /* reset button styles */
  color: inherit;
  border: 0;
  background: none;
}

.prev::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid var(--color-white);
}

.next::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid var(--color-white);
}

.dot {
  height: 15px;
  width: 15px;
  border: 3px solid grey;
  border-radius: 50%;
  background: none;
  padding: 0;
}
.dot.active {
  border-color: var(--color-white);
}

/* -----------------
        OUR WORK ENTRIES
    ------------------ */
.work-entry article[aria-hidden] {
    display: none;
}

.work-entry-bg-image {
    background-size: 100%;
    background-position: center;  
    background-repeat: none;
}
/* ---------------
        THE TRIBE GRID
    ------------------ */
.tribe-image {
    height: 250px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.flip-button:hover .tribe-image, 
.flip-button:focus .tribe-image {   
    filter: none;
    -webkit-filter: grayscale(0%);
}
.flip-button {
  /* strip button styles */
  border: 0;
  background: none;
  color: inherit;
  padding: 0;
}
/* entire container, keeps perspective */
.flip-container {
  display: block;
  perspective: 1000px;
}
.active .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 250px;
  height: 250px;
}
/* flip speed goes here */
.flipper {
  display: block;
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  display: block;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 10px;
  overflow: auto;
}
.back::-webkit-scrollbar {
  width: 0.5em;
}
.back::-webkit-scrollbar-track {
  background-color: lightgray;
}
.back::-webkit-scrollbar-thumb {
  background-color: var(--color-purple);
  border-radius: 20px;
}
